# ! Frontend
# Nuxt dev/build outputs
frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist

# Node dependencies
frontend/node_modules

# Logs
frontend/logs
frontend/*.log

# Misc
.DS_Store

# Local env files
frontend/.env
frontend/.env.*
!frontend/.env.example

# ! Backend
backend/venv
